.parrafo {
    font-size: 28px;
    color: red;
    text-align: center;
    font-family: 'Pacifico', cursive;
}

.parrafo2 {
    font-size: 38px;
    color: blue;
    text-align: justify;
    font-family: 'Pacifico', cursive;
}